apiVersion: v1
kind: ConfigMap
metadata:
  name: jhub-profiles
  namespace: jhub
data:
  values.yaml: |
    singleuser:
      profileList:
        - display_name: "Default environment"
          description: "Based on a scipy notebook environment with a python-3.11 kernel, the rucio jupyterlab extension and the reana client installed."
          default: true
        - display_name: "Default environment - python 3.8"
          description: "Same environment as the default one except for a python-3.8 kernel installed. This environment will be deprecated soon."
          kubespawner_override:
            image: ghcr.io/vre-hub/vre-singleuser-py38:sha-7ed7d80
        - display_name: "Default environment - python 3.9"
          description: "Same environment as the default one except for a python-3.9 kernel installed. This environment will be deprecated soon."
          kubespawner_override:
            image: ghcr.io/vre-hub/vre-singleuser:sha-423e01a
        - display_name: "ROOT environment"
          description: "ROOT v6.26.10 as well as a ROOT C++ and a python-3.8 kernel."
          kubespawner_override:
            image: ghcr.io/vre-hub/vre-singleuser-root:sha-c94d95a
        - display_name: "VIRGO - WDF environment"
          description: "Contains the full WDF v2.2.1 environment - Python 3.9 kernel."
          kubespawner_override:
            image: gitlab-registry.in2p3.fr/escape2020/virtual-environment/docker-images/datalake-singleuser-wdf:cd832522
        - display_name: "KM3Net Science Project environment"
          description: "Contains gammapy=1.1, km3irf and km3net-testdata libraries - Python 3.9 kernel."
          kubespawner_override:
            image: ghcr.io/vre-hub/vre-singleuser-km3irf:sha-c1e2a18
        - display_name: "KM3NeT and CTA combined analysis environment"
          description: "Contains gammapy=0.17 and astropy - python-3.8 kernel."
          kubespawner_override:
            image: ghcr.io/vre-hub/vre-singleuser-combined_ana_km3net_cta:sha-520edf8
        - display_name: "Indirect Dark Matter Detection Science Project environment"
          description: "Contains the MLFermiLATDwarfs and fermitools libraries - Python 3.9 kernel."
          kubespawner_override:
            image: ghcr.io/vre-hub/vre-singleuser-microomega:sha-5cbf4f4
        - display_name: "Dev environment"
          description: "Development environment with various tools installed."
          kubespawner_override:
            image: ghcr.io/vre-hub/vre-singleuser-dev:latest
        - display_name: "REANA dev environment"
          description: "For testing purposes"
          kubespawner_override:
            image: ghcr.io/vre-hub/vre-singleuser-reana-dev:latest